/* Common Style */

*{
  font-family: "Nanum Gothic", "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color : #333;
  box-sizing: border-box;
}

body{
  background-color: #f7f8fb;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  display: block;
}

a{
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

/* header */
.mainlogo {
  width: 40px;
}

.header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #3337;
  box-shadow: 0 2px 8px #3337;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #ebedf3;
}

header .inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.inner .headerimg img{
  width: 20px;
}

header .inner .nav {
  display: flex;
  gap: 0 40px;
}


/* View Section */

.viewsection {
  width: 100%;
  position: relative;
  top: 60px;
  height: calc(70vh - 60px);
  padding: 50px 20px;
}

.viewsection .inner {
  width: 100%;
  height: 100%;
  border: 3px solid #556070;
  border-radius: 20px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.viewsection .inner .presentme {
  text-align: center;
  vertical-align: middle;
}

.viewsection .inner .presentwork {
  width: 70%;
  height: 100%;
  position: relative;
  display: flex;
}

.viewsection .inner .presentwork .swiper {
  position: relative;
  width: 100%;
  height: 100%;
}

.viewsection .inner .presentwork .swiper img {
  width: 100%;
  height: 100%;
  padding: 10px;
  object-fit: contain;
}

/* Footer */
