/* Common Style */

*{
  font-family: "Nanum Gothic", "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color : #333;
  box-sizing: border-box;
  background-color: transparent;
}

body{
  background-color: #f7f8fb;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  display: block;
}

a{
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

/* header */
.mainlogo {
  width: 40px;
}

.header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #3337;
  box-shadow: 0 2px 8px #3337;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

header .inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #ebedf3;
}

.inner .headerimg img{
  width: 20px;
}

header .inner .nav {
  display: flex;
  gap: 0 40px;
}


/* View Section */

.viewsection {
  width: 100%;
  position: relative;
  top: 60px;
  height: calc(50vh - 60px);
  background-color: gray;
}

.viewsection .inner {
  display: flex;
}

.viewsection .inner .presentwork {
  position: relative;
  display: flex;
}

.viewsection .inner .presentwork img {
  position: absolute;
  left: 10px;
}